<a href="https://colab.research.google.com/github/Miftahurrahman250702/belajar-pemrograman-python/blob/main/latihan-variabel-dan-tipedata/Selamat_Datang_di_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

    LATIHAN TIPE DATA DAN VARIABEL

Latihan 1 — Membuat Variabel Dasar

Buat variabel berikut:

nama → berisi nama kamu (tipe data string)

umur → berisi umur kamu (tipe data integer)

tinggi → berisi tinggi badan kamu (tipe data float)

is_student → apakah kamu sedang belajar Python? (tipe data boolean)

Tugas:

Cetak semua variabel tersebut dalam satu kalimat, contoh:
Halo, nama saya Budi, umur saya 20 tahun, tinggi saya 170.5 cm, dan status belajar: True

In [4]:
nama    = "miftah"
umur    = 23
tinggi  = 160.5
is_student = True

print("Halo, nama saya", nama, "umur saya", umur, "tahun, tinggi saya", tinggi, "cm, dan status belajar :", is_student )

Halo, nama saya miftah umur saya 23 tahun, tinggi saya 160.5 cm, dan status belajar : True

Latihan 2 — Mengubah Nilai Variabel


Buat variabel x dengan nilai awal 10.

Ubah nilai x menjadi nilai apapun yang kamu mau.

Cetak nilai sebelum dan sesudah perubahan.

In [26]:
x = 10
print(x, type(x))
x = "miftah"

print(x, type(x))

10 <class 'int'>
miftah <class 'str'>

Latihan 3 — Menentukan Tipe Data

Buat beberapa variabel berikut:

a = "123"

b = 123

c = 12.3

d = True

Tugas:

Gunakan fungsi type() untuk mencetak tipe data masing-masing variabel.

In [24]:
a, b, c, d = "123", 123, 12.3, True

print(a, type (a))
print(c, type (c))
print(b, type (b))
print(d, type (d))

123 <class 'str'>
12.3 <class 'float'>
123 <class 'int'>
True <class 'bool'>

Latihan 4 — Konversi Tipe Data

Buat variabel angka_str = "45"

Konversikan menjadi integer dan simpan ke variabel angka_int

Tambahkan 5 ke angka_int

Cetak hasil akhirnya

In [25]:
angka_str = "45"
angka_int = int(angka_str)
angka_int += 5

print(angka_int, type(angka_int))

50 <class 'int'>

Latihan 5 — Operasi Sederhana

Buat dua variabel angka, misalnya:

num1 = 7

num2 = 3

Lalu hitung:

Penjumlahan

Pengurangan

Perkalian

Pembagian
Cetak semua hasilnya.

In [31]:
num1 = 7
num2 = 3

penjumlahan = num1 + num2
pengurangan = num1 - num2
perkalian = num1 * num2
pembagian = num1 // num2

print(penjumlahan, type(penjumlahan))
print(pengurangan, type(pengurangan))
print(perkalian, type(perkalian))
print(pembagian, type(pembagian))

10 <class 'int'>
4 <class 'int'>
21 <class 'int'>
2 <class 'int'>